// Most colors take from Dracula
{
	"styles": [
		{
			"name": "fold.error",
			"style": {
				"foreground": "{{ color_2 }}"
			}
		},
		{
			"name": "fold.highlight",
			"style": {
				"foreground": "{{ color_1 }}"
			}
		},
		{
			"name": "grep.mark",
			"style": {
				"background": "{{ background }}",
				"decorationStyle": "roundBox"
			}
		},
		{
			"name": "grep.match",
			"style": {
				"background": "{{ background }}",
				"decorationStyle": "roundBox"
			}
		},
		{
			"name": "hex.column",
			"style": {
				"background": "transparent, {{ background }}"
			}
		},
		{
			"name": "hex.division",
			"style": {
				"foreground": "gray"
			}
		},
		{
			"name": "line.background",
			"style": {
				"background": "{{ background }}"
			}
		},
		{
			"name": "line.caret.command",
			"style": {
				"foreground": "orange"
			}
		},
		{
			"name": "line.caret.local",
			"style": {
				"foreground": "white"
			}
		},
		{
			"name": "line.caret.normal",
			"style": {
				"foreground": "white"
			}
		},
		{
			"name": "line.caret.remote",
			"style": {
				"foreground": "orange"
			}
		},
		{
			"name": "line.columnMarker",
			"style": {
				"background": "gray"
			}
		},
		{
			"name": "line.highlight",
			"style": {
				"foreground": "{{ foreground }}",
				"background": "#2{{ color_3 }}"
			}
		},
		{
			"name": "line.indentGuide",
			"style": {
				"foreground": "gray"
			}
		},
		{
			"name": "line.modified",
			"style": {
				"background": "{{ color_4 }}"
			}
		},
		{
			"name": "line.saved",
			"style": {
				"background": "{{ color_5 }}"
			}
		},
		{
			"name": "line.unsaved",
			"style": {
				"background": "{{ color_4 }}"
			}
		},
		{
			"name": "line.wrapSymbol",
			"style": {
				"foreground": "{{ color_6 }}"
			}
		},
		{
			"name": "margin.blank",
			"style": {
				"foreground": "{{ color_2 }}"
			}
		},
		{
			"name": "margin.fold",
			"style": {
				"foreground": "{{ color_7 }}"
			}
		},
		{
			"name": "margin.number",
			"style": {
				"foreground": "{{ color_8 }}"
			}
		},
		{
			"name": "margin.symbol",
			"style": {
				"background": "transparent"
			}
		},
		{
			"name": "margin.text",
			"style": {
				"background": "transparent"
			}
		},
		{
			"name": "margin.timestamp",
			"style": {
				"foreground": "gray"
			}
		},
		{
			"name": "pair.error",
			"style": {
				"decorationStyle": "roundBox",
				"decorationForeground": "#80FF0000",
				"decorationBackground": "#40FF0000"
			}
		},
		{
			"name": "pair.highlight",
			"style": {
				"decorationStyle": "roundBox",
				"decorationForeground": "#80{{ color_9 }}",
				"decorationBackground": "#40{{ color_9 }}"
			}
		},
		{
			"name": "terminal.ansiBlack",
			"style": {
				"foreground": "{{ black }}"
			}
		},
		{
			"name": "terminal.ansiRed",
			"style": {
				"foreground": "{{ red }}"
			}
		},
		{
			"name": "terminal.ansiGreen",
			"style": {
				"foreground": "{{ green }}"
			}
		},
		{
			"name": "terminal.ansiYellow",
			"style": {
				"foreground": "{{ yellow }}"
			}
		},
		{
			"name": "terminal.ansiBlue",
			"style": {
				"foreground": "{{ blue }}"
			}
		},
		{
			"name": "terminal.ansiMagenta",
			"style": {
				"foreground": "{{ magenta }}"
			}
		},
		{
			"name": "terminal.ansiCyan",
			"style": {
				"foreground": "{{ cyan }}"
			}
		},
		{
			"name": "terminal.ansiWhite",
			"style": {
				"foreground": "{{ white }}"
			}
		},
		{
			"name": "terminal.ansiBrightBlack",
			"style": {
				"foreground": "{{ comment }}"
			}
		},
		{
			"name": "terminal.ansiBrightRed",
			"style": {
				"foreground": "{{ brightRed }}"
			}
		},
		{
			"name": "terminal.ansiBrightGreen",
			"style": {
				"foreground": "{{ brightGreen }}"
			}
		},
		{
			"name": "terminal.ansiBrightYellow",
			"style": {
				"foreground": "{{ brightYellow }}"
			}
		},
		{
			"name": "terminal.ansiBrightBlue",
			"style": {
				"foreground": "{{ brightBlue }}"
			}
		},
		{
			"name": "terminal.ansiBrightMagenta",
			"style": {
				"foreground": "{{ brightMagenta }}"
			}
		},
		{
			"name": "terminal.ansiBrightCyan",
			"style": {
				"foreground": "{{ brightCyan }}"
			}
		},
		{
			"name": "terminal.ansiBrightWhite",
			"style": {
				"foreground": "{{ foreground }}"
			}
		},
		{
			"name": "terminal.text",
			"style": {
				"fontFamily": "Fira Code Retina, Fira Code, Roboto Mono, Lucida Sans Typewriter, Lucida Console, Monoca"
			}
		},
		{
			"name": "terminal.text.1",
			"style": {
				"fontFamily": "Lucida Console"
			}
		},
		{
			"name": "terminal.text.2",
			"style": {
				"fontFamily": "VT100"
			}
		},
		{
			"name": "terminal.prompt",
			"style": {
				"foreground": "{{ foreground }}",
				"decorationStyle": "lineBackground",
				"decorationBackground": "{{ background }}"
			}
		},
		{
			"name": "text.controlChar",
			"style": {
				"foreground": "{{ comment }}"
			}
		},
		{
			"name": "text.default",
			"style": {
				"foreground": "{{ foreground }}",
				"background": "{{ background }}",
				"fontFamily": "Fira Code, Ubuntu Mono, Roboto Mono, Lucida Sans Typewriter, Lucida Console, Monoca",
				"fontSize": 10
			}
		},
		{
			"name": "text.folded",
			"style": {
				"foreground": "{{ foreground }}",
				"background": "{{ background }}",
				"fontStyle": "italic",
				"decorationStyle": "roundBox"
			}
		},
		{
			"name": "text.hotSpot",
			"style": {
				"background": "{{ background }}FF",
				"decorationStyle": "solidLine"
			}
		},
		{
			"name": "text.inserted",
			"style": {
				"decorationStyle": "roundBox",
				"decorationForeground": "{{ background }}00",
				"decorationBackground": "{{ background }}00"
			}
		},
		{
			"name": "text.removed",
			"style": {
				"decorationStyle": "roundBox",
				"decorationForeground": "{{ background }}00",
				"decorationBackground": "{{ background }}00"
			}
		},
		{
			"name": "text.selection",
			"style": {
				"foreground": "{{ magenta }}",
				"background": "{{ magenta }}",
				"decorationStyle": "roundBox"
			}
		},
		{
			"name": "text.syncEdit",
			"style": {
				"foreground": "{{ foreground }}00",
				"decorationStyle": "box",
				"decorationForegroundground": "{{ foreground }}00"
			}
		},
		{
			"name": "text.whiteSpace",
			"style": {
				"foreground": "gray"
			}
		}
	],
	"scopes": [
		{
			"scope": "number.context.grep",
			"style": {
				"foreground": "gray"
			}
		},
		{
			"scope": "file.grep",
			"style": {
				"foreground": "{{ cyan }}"
			}
		},
		{
			"scope": "number.line.grep",
			"style": {
				"foreground": "red"
			}
		},
		{
			"scope": "path.grep",
			"style": {
				"foreground": "gray",
				"decorationStyle": "lineBackground",
				"decorationBackground": "{{ background }}"
			}
		},
		{
			"scope": [
				"meta.embedded",
				"source.groovy.embedded"
			],
			"style": {
				"background": "{{ background }}",
				"foreground": "{{ foreground }}"
			}
		},
		{
			"name": "Comment",
			"scope": "comment, disabled",
			"style": {
				"foreground": "{{ brightBlack }}"
			}
		},
		{
			"name": "String",
			"scope": "string",
			"style": {
				"foreground": "{{ color_10 }}"
			}
		},
		{
			"name": "Punctuation",
			"scope": [
				"punctuation.definition.delimiter.linux",
				"punctuation.definition.block.linux"
			],
			"style": {
				"foreground": "{{ color_11 }}"
			}
		},
		{
			"name": "Template Definition",
			"scope": [
				"punctuation.definition.template-expression",
				"punctuation.section.embedded"
			],
			"style": {
				"foreground": "{{ color_12 }}"
			}
		},
		{
			"name": "Reset JavaScript string interpolation expression",
			"scope": [
				"meta.template.expression"
			],
			"style": {
				"foreground": "{{ foreground }}"
			}
		},
		{
			"name": "Number",
			"scope": "constant.numeric",
			"style": {
				"foreground": "{{ brightMagenta }}"
			}
		},
		{
			"name": "Built-in constant",
			"scope": "constant.language",
			"style": {
				"foreground": "{{ brightMagenta }}"
			}
		},
		{
			"name": "User-defined constant",
			"scope": "constant.character, constant.other",
			"style": {
				"foreground": "{{ brightMagenta }}"
			}
		},
		{
			"name": "Variable",
			"scope": "variable",
			"style": {
				"fontStyle": "",
				"foreground": "{{ foreground }}"
			}
		},
		{
			"name": "Keyword",
			"scope": "keyword",
			"style": {
				"foreground": "{{ color_12 }}"
			}
		},
		{
			"name": "Storage",
			"scope": "storage",
			"style": {
				"fontStyle": "",
				"foreground": "{{ color_12 }}"
			}
		},
		{
			"name": "Storage type",
			"scope": "storage.type",
			"style": {
				"fontStyle": "italic",
				"foreground": "{{ color_1 }}"
			}
		},
		{
			"name": "Class name",
			"scope": "entity.name.type, entity.name.class",
			"style": {
				"foreground": "{{ color_11 }}",
				"fontStyle": "italic underline"
			}
		},
		{
			"name": "Inherited class",
			"scope": "entity.other.inherited-class",
			"style": {
				"foreground": "{{ color_11 }}",
				"fontStyle": "italic",
				"decorationStyle": "solidLine"
			}
		},
		{
			"name": "Function name",
			"scope": "entity.name.function",
			"style": {
				"fontStyle": "",
				"foreground": "{{ color_11 }}"
			}
		},
		{
			"name": "Function argument",
			"scope": "variable.parameter",
			"style": {
				"fontStyle": "italic",
				"foreground": "{{ color_13 }}"
			}
		},
		{
			"name": "Tag name",
			"scope": "entity.name.tag",
			"style": {
				"fontStyle": "",
				"foreground": "{{ color_12 }}"
			}
		},
		{
			"name": "Tag attribute",
			"scope": "entity.other.attribute-name",
			"style": {
				"fontStyle": "",
				"foreground": "{{ color_11 }}"
			}
		},
		{
			"name": "Library function",
			"scope": "support.function",
			"style": {
				"fontStyle": "",
				"foreground": "{{ color_1 }}"
			}
		},
		{
			"name": "Library constant",
			"scope": "support.constant",
			"style": {
				"fontStyle": "",
				"foreground": "{{ color_1 }}"
			}
		},
		{
			"name": "Library class/type",
			"scope": "support.type, support.class",
			"style": {
				"fontStyle": "italic",
				"foreground": "{{ color_1 }}"
			}
		},
		{
			"name": "Library variable",
			"scope": "support.other.variable",
			"style": {
				"fontStyle": ""
			}
		},
		{
			"name": "Invalid",
			"scope": "invalid",
			"style": {
				"background": "{{ background }}",
				"fontStyle": "",
				"foreground": "#F8F8F0",
				"decorationStyle": "lineEndingBackground",
				"decorationBackground": "{{ background }}"
			}
		},
		{
			"name": "Invalid deprecated",
			"scope": "invalid.deprecated, invalid.illegal",
			"style": {
				"foreground": "{{ foreground }}"
			}
		},
		{
			"name": "JSON String",
			"scope": "meta.structure.dictionary.json string.quoted.double.json",
			"style": {
				"foreground": "{{ white }}"
			}
		},
		{
			"name": "diff.header",
			"scope": "meta.diff, meta.diff.header",
			"style": {
				"foreground": "{{ foreground }}"
			}
		},
		{
			"name": "diff.deleted",
			"scope": "markup.deleted",
			"style": {
				"foreground": "{{ color_12 }}"
			}
		},
		{
			"name": "diff.inserted",
			"scope": "markup.inserted",
			"style": {
				"foreground": "{{ color_11 }}"
			}
		},
		{
			"name": "diff.changed",
			"scope": "markup.changed",
			"style": {
				"foreground": "{{ color_10 }}"
			}
		},
		{
			"scope": "constant.numeric.line-number.find-in-files - match",
			"style": {
				"foreground": "#AE{{ cyan }}"
			}
		},
		{
			"scope": "entity.name.filename.find-in-files",
			"style": {
				"foreground": "{{ color_10 }}"
			}
		},
		{
			"name": "Markup Quote",
			"scope": "markup.quote",
			"style": {
				"foreground": "{{ color_12 }}"
			}
		},
		{
			"name": "Markup Lists",
			"scope": "markup.list",
			"style": {
				"foreground": "{{ color_10 }}"
			}
		},
		{
			"name": "Markup Styling",
			"scope": "markup.bold, markup.italic",
			"style": {
				"foreground": "{{ color_1 }}"
			}
		},
		{
			"name": "Markup Inline",
			"scope": "markup.inline.raw",
			"style": {
				"fontStyle": "",
				"foreground": "{{ color_13 }}"
			}
		},
		{
			"name": "Markup Headings",
			"scope": "markup.heading",
			"style": {
				"foreground": "{{ color_11 }}"
			}
		},
		{
			"name": "Markup Setext Header",
			"scope": "markup.heading.setext",
			"style": {
				"fontStyle": "",
				"foreground": "{{ color_11 }}"
			}
		},
		{
			"name": "Prompt Line",
			"scope": "prompt.line",
			"style": {
				"decorationStyle": "lineBackground",
				"decorationBackground": "{{ background }}"
			}
		},
		{
			"scope": "token.success-token",
			"style": {
				"foreground": "limegreen"
			}
		},
		{
			"scope": "token.info-token",
			"style": {
				"foreground": "{{ blue }}"
			}
		},
		{
			"scope": "token.warn-token",
			"style": {
				"foreground": "{{ yellow }}"
			}
		},
		{
			"scope": "token.error-token",
			"style": {
				"foreground": "{{ red }}"
			}
		},
		{
			"scope": "token.debug-token",
			"style": {
				"foreground": "{{ magenta }}"
			}
		},
		{
			"name": "this.self",
			"scope": "variable.language",
			"style": {
				"foreground": "{{ color_13 }}"
			}
		},
		{
			"name": "identifier",
			"scope": "identifier.text, meta.function-call",
			"style": {
				"foreground": "coral, mediumorchid, palevioletred"
			}
		}
	]
}